<div class="inicio-container">
    <div class="inicio-header">
        <h1>Inicio</h1>
        <input placeholder="pesquisar" class="input-pesquisar" [(ngModel)]="searchQuery" (change)="onSearch()">
    </div>


    <div class="card-container" (scrolled)="onScroll()" infiniteScroll [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="500" (scrolled)="onScroll()" *ngIf="characters.length > 0">
        <div *ngFor="let character of characters">
            <app-card [character]="character" [isFavorite]="false"></app-card>
        </div>
    </div>

    <div *ngIf="characters.length  === 0" class="erro-mensagem">
        <h1>Nada foi encontrado</h1>
        <img src="../../../assets/images/portal-rick-and-morty.gif">
        <p>Tente realizar uma nova busca</p>
    </div>
</div>